<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <pageHeader>Community_Images/Acura_Partner_Community_logo.png</pageHeader>
        <primaryColor>#002D62</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#002D62</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#002D62</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>mshim@deloitte.ca</emailSenderAddress>
    <emailSenderName>Honda Partner Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Dealer Community User</profile>
    </networkMemberGroups>
    <picassoSite>Honda_Partner_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Honda_Partner_Community</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
